<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
{#     <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/Header.css') }}">#}
</head>

<body>
    <header>
        <a href="/">CVgrid</a> | <a href="/exercise2">exercise2</a> | <a href="forms">forms</a> | <a href='/assignment8'>assignment8</a> | <a href='/assignment9'>assignment9</a> | <a href='/assignment10'>assignment10</a>
        <div>
           {% include 'login.html' %}
        </div>
    </header>

</body>
</html>


